<ul>{{#each this}}<li> {{ username }} Said : {{post}} <a id="singlePost" herf="#" data-PostId="{{id}}"><br><span>{{id}}</span> - <span>Category: {{category}}</span><p><a href=functions.php?SpamId={{id}}>Report Spam</a></p>comments({{comments}})<hr></li>{{/each}}</ul> 

