<section role="region" class="Posts Posts--list u-md-columnsFull u-columnsHalf" aria-label="Latest Posts">
{{#each this}}
  <article class="Post" aria-labeledby="postHeading{{id}}"> 
    <h3 class="Post-title H5" id="postHeading{{id}}">{{ username }} Said:</h3>
    <div class="Post-content">
      <p>{{{post}}}</p>
      <p class="Post-comments u-posAbsolute">
      {{#if comments}}
        <svg class="Icon Icon-comments">
          <use xlink:href="#Icon-comments" />
        </svg>
        <span class="Post-commentsCount">{{comments}}<span class="u-hiddenVisually"> comments in this post</span></span>
      {{else}}
        <a href="" data-PostId="{{id}}">Add Comment</a>
      {{/if}}
      </p>
      <a href="{{id}}" data-PostId="{{id}}" class="Post-link u-posAbsolute u-block">
        <span class="u-hiddenVisually">View Post</span>
      </a>
    </div>
    <footer class="Post-meta">
      <ul class="u-alignMiddle">
        <li class="u-block">
          <span>Category: {{category}}</span>
        </li>
        <li class="u-inline Copy--small">
          <a href="#">
            <svg class="Icon Icon-facebook">
              <use xlink:href="#Icon-facebook" />
            </svg>
            <span class="u-hiddenVisually">Share on Facebook</span>
          </a>
        </li>
        <li class="u-inline Copy--small">
          <a href="#">
            <svg class="Icon Icon-twitter">
              <use xlink:href="#Icon-twitter" />
            </svg>
            <span class="u-hiddenVisually">Share on Twitter</span>
          </a>
        </li>
      </ul>  
    </footer>
  </article>
{{/each}}
</section>
<section role="region">
  <form action="app/functions.php" method="post">
    <fieldset>
      <legend id="createPostHeading" class="H3">Create New Post</legend>
      <input type="hidden" name="_METHOD" value="PUT">
              
      <label for="post" class="Input">
        <span class="Input-label">What's on Your Mind?</span>
        <textarea cols="40" rows="8" name="post" id="post"></textarea>
      </label>
      <label for="select-choice" class="Input">
        <span class="Input-label">Post Category</span>
        <select name="category" id="category">
          <option value="FMYLIFE">F MY LIFE</option>
          <option value="stwrldprbl">First World Problems</option>
          <option value="justcase">Just Because</option>
        </select>
      </label>
      
      <button type="submit" name="submit" id="submit" class="Button u-sm-sizeFull">Publish Post</button>
      
    </fieldset>
  </form>
</section>

