<section role="region" class="Posts u-columnsHalf u-md-columnsFull">
{{#each this}}
  <article class="Post" data-posturl="/#/post/{{id}}"> 
    {{ username }} Said : 
    <div class="Post-content">
      {{{post}}}
      <a href="/#/post/{{id}}" > ........ </a>
    </div>
    <span>Category: {{category}}</span><p>
    <footer class="Post-meta">
      <ul class="Copy--small">
        <li class="u-inline">
        {{#if commcount}}
          <svg class="Icon Icon-comments">
            <use xlink:href="#Icon-comments" />
          </svg>
          {{commcount}}<span class="u-hiddenVisually"> comments in this post</span>
        {{else}}
          No Comments,<a class="PostId" href="" data-PostId="{{id}}"> add one</a>
        {{/if}}
        </li>
        <li class="u-inline">
          <a href="#" data-posturl="thanos.pandora.dev/#/post/{{id}}" data-post="{{{post}}}" class="posttofeed">
            <svg class="Icon Icon-facebook">
              <use xlink:href="#Icon-facebook" />
            </svg>
            <span class="u-hiddenVisually">Share on Facebook</span>
          </a>
        </li>
        <li class="u-inline">
          <a href="#">
            <svg class="Icon Icon-twitter">
              <use xlink:href="#Icon-twitter" />
            </svg>
            <span class="u-hiddenVisually">Share on Twitter</span>
          </a>
        </li>
        <li class="u-inline">
          <time>  {{dateFormat timestamp format="MMMM YYYY"}}</time>
        </li>
      </ul>  
    </footer>
  </article>
{{/each}}
</section>
<section role="region">
  <form action="app/functions.php" method="post">
    <fieldset class="Panel Panel-outline">
      <legend>Create New Post</legend>
      <input type="hidden" name="_METHOD" value="PUT">
              
      <label for="post" class="Input">
        <span class="Input-label">What's on Your Mind?</span>
        <textarea cols="40" rows="8" name="post" id="post"></textarea>
      </label>
      <label for="select-choice" class="Input">
        <san class="Input-label">Post Category</san>
        <select name="category" id="category">
          <option value="FMYLIFE">F MY LIFE</option>
          <option value="stwrldprbl">First World Problems</option>
          <option value="justcase">Just Because</option>
        </select>
      </label>
      
      <button type="submit" name="submit" id="submit" class="Button u-sm-sizeFull">Publish Post</button>
      
    </fieldset>
  </form>
</section>

