<section role="region" class="Posts">
  <header class="PageTitle">
    <h3 class="PageTitle-heading">Latest Posts</h3>
  </header>
{{#each this}}
  <article class="Panel Panel--withPadding u-shapeRounded" aria-labeledby="postHeading{{id}}"> 
    <header class="Panel-content Panel-heading">
      <h3 class="Post-title u-textNoWrap H5" id="postHeading{{id}}">{{ username }} Said:</h3>
      <time 
        class="Post-date Copy--small" 
        datetime="{{machinetimestamp}}"
        id="postDate">
        <span class="u-hiddenVisually">Posted:</span>{{humantimestamp}}
      </time>
    </header>
    <div class="Panel-content Panel-body u-posRelative">
      <p aria-labelledby="postDate">{{{post}}}</p>
      <div class="Post-content u-posAbsolute">
        <svg class="Icon Icon-comments Post-commentsCountIcon">
          <use xlink:href="#Icon-comments" />
        </svg>
        <span class="Post-commentsCount">{{commcount}}<span class="u-hiddenVisually"> comments in this post</span></span>
      </div>
      <a href="/#/post/{{id}}" data-PostId="{{id}}" class="Post-link u-posAbsolute u-block">
        <span class="u-hiddenVisually">View Entire Post</span>
      </a>
    </div>
    <footer class="Panel-content Panel-footer">
      <ul class="u-alignMiddle Arrange">
        <li class="Arrange-sizeFit">
          <a href="#" class="Copy--small Tag Tag--default">{{category}}</a>
        </li>
        <li class="Post-metaShareLinks Copy--small u-textRight">
          <a href="#" 
            data-share="FB"
            data-posturl="thanos.pandora.dev/#/post/{{id}}" 
            data-post="{{post}}">
            <svg class="Icon Icon-facebook">
              <use xlink:href="#Icon-facebook" />
            </svg>
            <span class="u-hiddenVisually">Share on Facebook</span>
          </a>
          <a href="#"
            data-share="twitter"
            data-posturl="thanos.pandora.dev/#/post/{{id}}" 
            data-post="{{post}}">
            <svg class="Icon Icon-twitter">
              <use xlink:href="#Icon-twitter" />
            </svg>
            <span class="u-hiddenVisually">Share on Twitter</span>
          </a>
        </li>
      </ul>  
    </footer>
  </article> 
{{/each}}
</section>
<section role="region" class="Sheet Sheet--postionBottomRight Panel">
  <form action="#/gaunlet" method="post">
    <fieldset>
      <legend id="createPostHeading" class="H3">Create New Post</legend> 
              
      <label for="post" class="Input">
        <span class="Input-label">What's on Your Mind?</span>
        <textarea cols="40" rows="8" name="post" id="post" required></textarea>
      </label>
      <label for="select-choice" class="Input"> 
        <span class="Input-label">Post Category</span>
        <select name="category" id="category">
          <option value="FMYLIFE">F MY LIFE</option>
          <option value="stwrldprbl">First World Problems</option>
          <option value="justcase">Just Because</option>
        </select>
      </label>
      
      <button type="submit" name="submit" id="submit" class="Button u-sm-sizeFull">Publish Post</button>
      
    </fieldset>
  </form>
</section>
